<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="text-center">
      <p class="col-sm-12 navbar-text">
        Powered By SOFTWARE INCUBATOR
      </p>
    </div>
    <p class="navbar-text pull-left">
      Copyright © <a href="">TheGithubResume</a>.  All right reserved.
    </p>
    <div class="pull-right">
      <a class="navbar-link navbar-text" target="_blank" href="https://www.facebook.com/SaurabhVerma0707"><i class="fa fa-facebook-square"></i></a>
      <a class="navbar-link navbar-text" target="_blank" href="https://www.linkedin.com/in/saurabh-verma-0707/"><i class="fa fa-linkedin-square"></i></a>
      <a class="navbar-link navbar-text" target="_blank" href="https://github.com/Saurabh0707"><i class="fa fa-github-square"></i></a>
    </div>
  </div>
</div>
