/*body {*/
  /*background: rgb(204,204,204);*/
/*}*/
/*div#page {*/
  /*background: white;*/
  /*display: block;*/
  /*margin: 0 auto;*/
  /*margin-bottom: 0.5cm;*/
  /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
/*}*/
/*div#page[size="A4"] {*/
  /*width: 21cm;*/
  /*height: 29.7cm;*/
/*}*/
/*div#page[size="A4"][layout="portrait"] {*/
  /*width: 29.7cm;*/
  /*height: 21cm;*/
/*}*/
/*@media print {*/
  /*body, div#page {*/
    /*margin: 0;*/
    /*box-shadow: 0;*/
  /*}*/
/*}*/
/*div#print-section{*/
  /*border: solid #666;*/
  /*border-width: 8px 0 2px 0;*/
/*}*/
/*div#printResumeBtn{*/
  /*position: absolute;*/
  /*right: 2vm;*/
  /*top: 2vm;*/
/*}*/
/*.resume-container{*/
  /*padding-bottom: 10vh;*/
/*}*/
div#projects_individual, div#skills_individual, div#education_individual, div#achievements_individual, div#work_individual{
  padding-left: 3vw;
   /*background-color: lightgrey;*/
}
div#projects_individual, div#skills_individual, div#education_individual, div#achievements_individual, div#work_individual{
  border-radius: 0.5vmax;
  border: 1px solid #dddddd;
  padding: 20px;
  }
div#addEduModal div.modal-header{
  background-color: #5cb85c;
  color: white;
}
div#addEduModal div.modal-content {
  border-color:  #5cb85c;
}
div#addSkillModal div.modal-header{
  background-color:  #fad330 ;
  color: white;
}
div#addSkillModal div.modal-content {
  border-color:  #fad330;
}
div#addAchModal div.modal-header{
  background-color: #8257a6;
  color: white;
}
div#addAchModal div.modal-content {
  border-color: #8257a6;
}
div#addWorkModal div.modal-header{
  background-color:  #ff8d37;
  color: white;
}
div#addWorkModal div.modal-content {
  border-color:  #ff8d37;
}
div#achievements-heading, div#education-heading, div#project-heading, div#work-heading, div#skill-heading{
  color: #1295c9;
}
.adding {
  color: #1295c9;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
}
textarea.form-control {
  height: auto;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}
textarea#workDesc{
  height: auto;
  margin-top: 0%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;

}
/*div#addAchModal.modal-body{*/
  /*padding-top: 10% !important;*/
  /*}*/
.fa-trash-o{
  cursor: pointer;
}
