<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
     <!--<h4 class="text-center" style="color: red;" *ngIf="!loggedIn">Login To Explore!!</h4>-->
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong><h4>What is TheGithubResume?</h4></strong>
        </div>
        <div class="panel-body">
          <p class="col-sm-12">
            TheGithubResume is a project being Incubated at SOFTWARE INCUBATOR.
            This project is about generating your resume easily just by connecting your "GITHUB" account.
            TheGithubResume reduces the hassle of integrating your projects by time taking process of writing about your projects.
            TheGithubResume gets all your repositories and adds them to your resume without any effort.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong><h4>How to use TheGithubResume?</h4></strong>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <p class="list-group-item-heading">Follow these few clicks to get your resume done:</p>
            <ul class="">
              <li class="list-group-item text-center">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="">
                      <img class="img-thumbnail " src="../../assets/img/login.jpg" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <p>Simply login/register using your email and password.</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">
                <div class="row">
                  <div class="col-sm-8">
                    <p>Click On Add User Button.</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="">
                      <img class="img-thumbnail " src="../../assets/img/adduser.jpg" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="">
                      <img class="img-thumbnail " src="../../assets/img/getRepo.jpg" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <p>Get your user data by clicking 'Yes'.</p>
                  </div>
               </div>
              </li>
              <li class="list-group-item text-center">
                <div class="row">
                  <div class="col-sm-8">
                    <p>Click on 'Sync Repositories' for getting your repositories.</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="">
                      <img class="img-thumbnail " src="../../assets/img/sync.jpg" />
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="">
                      <img class="img-thumbnail " src="../../assets/img/Screenshot%20from%202018-03-02%2014-14-50.png" />
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <p>Push the repositories you want to appear in you resume and Submit.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><strong><h4>About Developer</h4></strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="">
                <img class="img-thumbnail " src="../../assets/img/Saurabh.JPG" />
              </div>
            </div>
            <div class="col-sm-8">
              <div class="panel-body">
                 <h3>Saurabh Verma</h3>
                      <p>
                        FullStack Developer at Software Incubator<br>
                        Student at AJAY KUMAR GARG ENGINEERING COLLEGE<br>
                      </p>
                      <h4>CONTACT ME: </h4>
                      <p>
                        Phone : +918604749732<br>
                        Email : connecttosaurabh.verma@gmail.com<br>
                      </p>
                      <hr>
                <div style="margin-left: auto; margin-right: auto;">
                  <a class="navbar-link navbar-text" target="_blank" href="https://www.facebook.com/SaurabhVerma0707"><i class="fa fa-facebook-square"></i></a>
                  <a class="navbar-link navbar-text" target="_blank" href="https://www.linkedin.com/in/saurabh-verma-0707/"><i class="fa fa-linkedin-square"></i></a>
                  <a class="navbar-link navbar-text" target="_blank" href="https://github.com/Saurabh0707"><i class="fa fa-github-square"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
